@charset "UTF-8";

    #sidenav {
      
	  visibility: hidden;		
      height: 100%;
    }
    
        /* On small screens, set height to 'auto' for sidenav and grid 
    @media screen and (max-width: 767px) {
      .sidenav {
		
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    */
    #button_area{
    
		padding-bottom:30px;    
    	padding-top:30px;
    }  
    
    #info{
    
		padding-top:20px;    
    	
    } 
    
    
    #photoframe{
    
		padding-top:30px;    
    
    }
    
    #active{
    	background-color:DodgerBlue;
    }