@charset "UTF-8";

    #button_area{    
		padding-bottom:50px;    
    	padding-top:50px;
    }  
    
    #info{    
		padding-top:60px;        	
    }     
    
    #photoframe{    
		padding-top:60px;        
    }
    

    #active{
    	background-color:#D6D4D4;
    }
    