@charset "UTF-8";


    
        /* On small screens, set height to 'auto' for sidenav and grid 
    @media screen and (max-width: 767px) {
      .sidenav {
		
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    */
    #button_area{    
		padding-bottom:50px;    
    	padding-top:50px;
    }  
    
    #info{    
		padding-top:60px;        	
    }     
    
    #photoframe{    
		padding-top:60px;        
    }
    

    #active{
    	background-color:DodgerBlue;
    }
    