@charset "UTF-8";

    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {
    	height: 100%;
    	flex-direction:row;
    	display:flex;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
       

    
    #secondrow {     
      color: black;
      padding: 15px;    
      height: 750px; 
      padding-bottom: 20px;
	  background-color: #FFFFE0;

    }
   
    #firstrow {
      padding: 30px; 
      padding-bottom: 50px;
      padding-top: 100px;
      background-color: #FFFFE0;     
    }

    