@charset "UTF-8";

div#imgContainer {
	position: absolute;
	z-index: 1;
}

input#test {
	position: absolute;
	z-index: 2;
}

#newFile {
	cursor:pointer;
}

#fileUpload {
 display:none;
}

/* div#tour_main_header_bg {
	background:url('/breezer/assets/images/tour/calendar_button.png');
	
} */

