@charset "UTF-8";

/* hover */
.tourAdd_left .hover_me_img .hover_target_img #cover_photo {
	visibility: hidden;
}

.tourAdd_left .hover_me_img:hover .hover_target_img #cover_photo {
	visibility: visible;
}

.tourAdd_left .hover_me_pp .type_pp #cover_public {
	display: none;	
}

.tourAdd_left .hover_me_pp .type_pp #cover_private {
	display: none;
}

.tourAdd_left #cover_photo {
	vertical-align: middle;
	text-align: center;
	background-color: transparent;
	border: none;
	color: white;
	
}

.tourAdd_left #cover_public,#cover_private {
	vertical-align: middle;
	text-align: center;
	background-color: transparent;
	border: none;
	color: white;
}

#newFile, #publicImg, #add, #leave {
	cursor: pointer;
	
}

#fileUpload {
	display: none;
}

.addform #public {
	display: none;
}
.addform #private {
	display:none;
}

#header {
	color: white;
	position: relative;
}

#tour_main_header {
	vertical-align: middle;
	text-align: center; 
	width: 100%; 
	height: 300px; 
	margin: 0 auto;
	background-color: #ABABAB;
	clear: both;
	position: relative;
	
}

/* 대문 배경 사진 이미지 속성 */
#tour_main_header_bg {
	background-repeat:no-repeat; 
	background-position:center center;
	background-size: cover;
	max-width: none;
	width: 100%;
	/* opacity: 0.5; */

}

.addform {
	position: relative;
	/* z-index: 2; */
}
.tourAdd_left{
	padding-left: 60px;
}

.tourAdd_right {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 120px;
}

.tourAdd_right #leave{
	padding-right: 5px;
	padding-left: 5px;
	
}

.tourAdd_right #add,#leave {
	
	background-color: transparent;
    border: 1px solid white;
    text-align: center;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    color: white;

    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}
.tourAdd_center {
	margin-right:50px;
}

/* addform style */
.tourAdd_center #title_area {
	vertical-align: middle;
	text-align:center; 
	display: block;
	width: 560px;
	height: 50px;
	outline: none;
	border: none;
	background: none;
	color: white;
	font-size: 30px;
	font-weight: bold;
	/* opacity: 0.8; */
}

.tourAdd_center #start-datepicker,#end-datepicker {
	
	text-align: center; 
 	outline: none;
	border: none;
	border-bottom: 2px solid white;
	color: white;
	background: none;
	font-size: 20px;
	
}

#wave {
	vertical-align: middle;
	text-align:center; 
	outline: none;
	border: none;
	background: none;
	color: white;
	font-size: 30px;
	width: 50px;
	/* margin-left: -150px;
	margin-right: -150px; */
	/* font-weight: bold; */
}

/* placeholder color */
.tourAdd_center #title_area::-webkit-input-placeholder {
	color: white;
}
.tourAdd_center #start-datepicker::-webkit-input-placeholder {
	color: white;
}
.tourAdd_center #end-datepicker::-webkit-input-placeholder {
	color: white;
}


/* layout */
nav#tour_navigation	{ 
  z-index: 1; float:left; width:200px; height:100%; overflow: auto; position: fixed; padding-left: 170px; }


#tour_main_header_bg #tour_main_header .addform .tourAdd_left {
	float: left;
	display: table;
	width: 100px;
	height: 100%;
}

#tour_main_header_bg #tour_main_header .addform .tourAdd_right {
	float: right;
	display: table;
	width: 100px;
	height: 100%;
}

#tour_main_header_bg #tour_main_header .addform .tourAdd_center {
	display: table;
	margin: auto;
	width: auto;
	height: auto;
	
}

textarea#tourTitle,#tourDate{
	background-color: #ABABAB;
	text-align: center;	
	resize: none;
	width: 630px;
	outline: none;
}

button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	text-align: center;
	outline: none;
}

.ico_cover{
	height: 36px;
	display: inline-block;
	background-size: 40px auto;
	background-position: 50%;
	width: 40px;
	background: url('/breezer/assets/images/tourMain/cover_pic_button.PNG') no-repeat;
}

      
      